@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  section {
    margin: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .btn {
    width: 100%;
  }
}